<a href="#" data-toggle="modal" data-target="#new-articles-modal"></a>

<div class="modal fade" id="new-articles-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="new-articles-container">
      <h1 class="" data-target="#new-articles-modal">Added {} new articles</h1>
      <br>
      <div class="new-articles-help">
        <button type="button" class="btn btn-primary">Ok</button>
      </div>
    </div>
  </div>
</div>