<a href="#" data-toggle="modal" data-target="#article-notes-modal"></a>

<div class="modal fade" id="article-notes-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  style="display: none;">
  <div class="modal-dialog">
    <div class="article-notes-container">
      <h1 class="" data-target="#article-notes-modal">Notes for Articles {}</h1>
      <br>
      <ul class="list-group">
        <li class="list-group-item">No Notes for this Article/li>
      </ul>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">New Note</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div class="article-notes-help">
        <button type="button" class="btn btn-primary">SAVE NOTE</button>
      </div>
    </div>
  </div>
</div>